.header-color {
  background: #ee9ca7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  position: relative;
  min-height: 100vh;
  flex-direction: column;
}

.home-desc {
  font-family: 'Lato';
}

.full-avatar-img {
  height: 640px;
  padding-top: 3em;
  padding-bottom: 1em;
  align-self: center;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px 0px;
}

.about-text-content {
  padding-left: 10px;
}

.about-text {
  width: 40vw;
  /*
  height: 400px;
  overflow-y: scroll;
  */
}

/*
.about-text::-webkit-scrollbar {
  -webkit-appearance: none;
}

.about-text::-webkit-scrollbar:vertical {
  width: 8px;
}

.about-text::-webkit-scrollbar:horizontal {
  height: 10px;
}

.about-text::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, .5);
}
*/


.about-text-title {
  color: #474747;
  font-family: 'Lato';
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.about-text {
  justify-content: left;
}

.resources-text {
  font-family: 'Lato';
  font-size: 20px;
  margin-left: 5%;
  margin-top: 1%;
}

.back-link {
  margin-left: 30px;
  padding: 5px;
  font-size: 30px;
  font-family: 'Lato';
  color: #333;
}

.slide {
  text-align: center;
}
 
.slide-logo {
  height: 40vmin;
}
 
.slide-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 
.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}

.project-title {
  margin-left: 5%;
  margin-top: 5%;
  border-bottom: 1px solid #333;
}

.project-item {
  font-family: 'Lato';
  padding: 5px 0px;
  font-size: 20px;
}

.project-list {
  margin-left: 5%;
  margin-top: 2%;
}

.testing1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5%;
}

.detail-title {
  font-size: 60px;
  margin: 50px;
  margin-bottom: 0px;
}

.detail-description {
  font-family: 'Lato';
  margin: 5px 100px;

}

.desc{
  display: inline-block;
  text-decoration: none;
  color: #0000EE;
  margin: 5px;
  padding: 5px;
  border: none;
}

.desc-container {
  border-top: 1px solid #ff7675;
  text-align: left;
}

.desc:hover {
  background: #dedede;
  text-decoration: none;
}

.landing-grid {
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 2.5rem;
}

h1 {
  font-family: 'Playfair Display';
}

h6 {
  font-family: 'Roboto';
  margin-bottom: 2%;
}

.portfolio-message {
  position: relative;
  font-size: small;
  margin-left: 50px ;
  font-family: 'Lato';
  text-transform: uppercase;
}


.hello {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.skills-buttons {
  position: relative;
  margin: 5px;
  margin-top: 0px;
  color: #ff7675;
  font-family: 'Lato';
  font-weight: bold;
  background-color:#fdd5db;
  opacity: 0.75;
  border: 2px solid #ff7675;
  padding: 11px 50px;
  overflow: hidden;
  transition: 1s all ease;
}

.skills-buttons:hover {
  color: white;
  background-color: #ff7675;
}


.skills-buttons:hover::before {
  height: 100%;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
  width: 100%;
}

.timeline-container::after {
  background-color: #e17b77;
  content: '';
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin: 10px 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-right: 0px;
  padding-left: 30px;
}

.timeline-item-content {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  padding: 15px;
  max-width: 92%;
  width: 500px;
  text-align: left;
}

.timeline-item:nth-child(even) .timeline-item-content .timeline-title {
  text-align: right;
}

.timeline-item-content::after {
  content: ' ';
  background-color: white;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  transform: rotate(45deg);
  right: -7.5px;
  top: calc(50% - 7.5px);
  width: 15px;
  height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
  align-items: flex-start;
  text-align: left;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
  right: auto;
  left: -7.5px;
}

.timeline-item-content .tag {
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  letter-spacing: 1px;
  top: 5px;
  left: 5px;
  text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
  left: auto;
  right: 5px;
}

.timeline-item-content time {
  color: #777;
  font-size: 12px;
}

.timeline-item-content p {
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  max-width: 95%;
}

.timeline-item-content a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.timeline-item-content a::after {
  font-size: 12px;
}

.timeline-item-content .circle {
  background-color: white;
  border: 3px solid #e17b77;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -40px;
}

.timeline-bullet-point {
  white-space: pre-wrap;
}

.timeline-title {
  font-weight: bold;
}

.timeline-company {
  font-size: 120%;
  margin-bottom: 7px;
}

.main-titles {
  font-size: 6rem;
}

@media only screen and (max-width: 875px) {

  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-text {
    width: 80vw;
  }

  .slide {
    padding: '0px 30px';
  }

  .detail-description {
    font-size: 25px;
    margin: 8px;
  }

  .portfolio-message {
    margin-left: 20px;
  }

  .skills-buttons{
    padding: 5px 5px;
  }

  .timeline-item-content,
  .timeline-item:nth-child(odd) .timeline-item-content {
    padding: 15px 10px;
    text-align: center;
    align-items: center;
  }

  .timeline-item-content .tag {
    width: calc(100% - 10px);
  }

  .timeline-item-content time {
    margin-top: 20px;
  }

  .timeline-item-content a {
    text-decoration: underline;
  }

  .timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
  width: 100%;
}

.timeline-container::after {
  background-color: #e17b77;
  content: '';
  position: absolute;
  left: calc(5% - 2px);
  width: 4px;
  height: 100%;
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin: 10px 0;
  width: 50%;
}

.timeline-item,
.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-right: 0px;
  padding-left: 30px;
  width: 95%;
}

.timeline-item-content {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  padding: 15px;
  max-width: 95%;
  width: 100%;
  text-align: right;
}

.timeline-item-content::after {
  content: ' ';
  background-color: white;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  transform: rotate(45deg);
  right: -7.5px;
  top: calc(50% - 7.5px);
  width: 15px;
  height: 15px;
}

.timeline-item-content,
.timeline-item:nth-child(odd) .timeline-item-content {
  align-items: flex-start;
  text-align: left;
}

.timeline-item-content::after,
.timeline-item:nth-child(odd) .timeline-item-content::after {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
  right: auto;
  left: -7.5px;
}

.timeline-item-content .tag {
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  letter-spacing: 1px;
  top: 5px;
  left: 5px;
  text-transform: uppercase;
}

.timeline-item-content .tag,
.timeline-item:nth-child(odd) .timeline-item-content .tag {
  left: auto;
  right: 5px;
}

.timeline-item-content time {
  color: #777;
  font-size: 12px;
}

.timeline-item-content p {
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  max-width: 100%;
}

.timeline-item-content a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.timeline-item-content a::after {
  font-size: 12px;
}

.timeline-item-content .circle {
  background-color: white;
  border: 3px solid #e17b77;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

.timeline-item-content .circle,
.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -40px;
}

.timeline-item:nth-child(even) .timeline-item-content .timeline-title {
  text-align: left;
}

.main-titles {
  font-size: 4rem;
}

}

.header-footer {
  font-family: 'Lato';
}

.social-links {
  display :flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  padding-top: 1%;
}

.social-links i {
  color: black;
  font-size: 4em;
}

.avatar-img {
  height: 300px;
  padding-top: 3em;
  padding-bottom: 1em;
  align-self: center;
}

.footer {
  position: relative;
  left:0;
  bottom: 0;
  right:0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
